<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Online Dog</title>

  <link rel="stylesheet" href="static/styles/dog_svg.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="static/styles/dog_flexbox.css" type="text/css" media="screen" />

  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

  <script src="http://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
    crossorigin="anonymous"></script>

  <!--
<script
  src="//code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
-->


</head>

<body>
  <script type="text/javascript">
    var DogApp = {
      TIMEOUT_MS: 20
    };

    $(document).ready(function () {
      DogApp.socket = io.connect('http://' + document.domain + ':' + location.port);

      DogApp.socket.on('connect', function () {
        DogApp.socket.send('User has connected!');
      });

      DogApp.socket.on('json', function (json) {
        console.log('Received "json": ' + JSON.stringify(json));
        DogApp.moveCircle(json["transform"])
        for (var i = 0; i < json.length; i++) { 
          var command = json[i]
          var svg_id = command['svg_id']
          if (svg_id) {
            var svg_element = $(svg_id);
            attr_set = command['attr_set']
            if (attr_set) {
              var elements = svg_element.each(function () {
                for (var attr_name in attr_set) {
                  attr_value = attr_set[attr_name];
                  this.setAttribute(attr_name, attr_value);
                };
              });
            }
            continue
          }
          html_id = command['html_id']
          if (html_id) {
            // Correspnds to:
            // "call_html": {
            //     "id": "#time",
            //     "calls": {
            //         "html": str_time
            //     }
            // }
            // $("#time").html(str_time);
            var html_element = $(html_id);
            html_calls = command['call']
            if (html_calls) {
              for (var html_call in html_calls) {
                html_call_argument = html_calls[html_call];
                html_element[html_call].call(html_element, html_call_argument)
              };
            }
            attr_set = command['attr_set']
            if (attr_set) {
              var elements = html_element.each(function () {
                for (var attr_name in attr_set) {
                  attr_value = attr_set[attr_name];
                  if (attr_value === null) {
                    this.removeAttribute(attr_name);
                  } else {
                    this.setAttribute(attr_name, attr_value);
                  }
                };
              });
            }
            continue
          }
        };
      });

      DogApp.socket.on('message', function (msg) {
        console.log('Received "message": ' + msg);
        var i = msg.indexOf(':');
        var method = msg.slice(0, i)
        var text = msg.slice(i + 1)
        if (method == 'MESSAGE') {
          $("#messages").append('<li>' + text + '</li>');
        }
      });

      $('#name_button').on('click', function () {
        name_element = $('#textfield_name')
        click_msg = { name: name_element.val() }
        DogApp.socket.emit("setname", click_msg);
      });
    });

  </script>
  <div class="example">

    <header>
      <ul id="messages"></ul>
      <p id="time">The time</p>
      <!-- <div class="example"> -->
    </header>
    <main class="main">
      <div class="content">
        <!-- https://www.w3schools.com/graphics/svg_examples.asp -->
        <!-- https://svgjs.com/docs/3.0/ -->
        <!-- <id id="svg" height="180" width="500"/> -->
        <svg id="svg"></svg>
      </div>
    </main>
    <footer>
      <table style="width: 95%">
        <tr>
          <td colspan="6" style="font-size: 0.5em; text-align: left;">Donald played King /
            Donald presses "Become next player" / Carla played 3</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Queen</td>
          <td>Joker</td>
          <td>7</td>
          <td>King</td>
          <td>2</td>
        </tr>
        <tr>
          <td><button id="button_play_0">Play</button></td>
          <td><button id="button_play_1">Play</button></td>
          <td><button id="button_play_2">Play</button></td>
          <td><button id="button_play_3">Play</button></td>
          <td><button id="button_play_4">Play</button></td>
          <td><button id="button_play_5">Play</button></td>
        </tr>
        <tr>
          <td><button id="button_change_0">Change</button></td>
          <td><button id="button_change_1">Change</button></td>
          <td><button id="button_change_2">Change</button></td>
          <td><button id="button_change_3">Change</button></td>
          <td><button id="button_change_4">Change</button></td>
          <td><button id="button_change_5">Change</button></td>
        </tr>
      </table>
    </footer>
    <footer style="background: lightgray">
      <table style="width: 95%">
        <tr>
          <td>
            <form>
              <p> I am
                <input type="text" id="textfield_name" value="D.T." />
                <button id="name_button">Send</button>
              </p>
            </form>
          </td>
          <td><button id="button_todo">Undo last move</button></td>
          <td><button id="button_todo">Become next player</button></td>
          <td><button id="button_todo">New Game</button></td>
        </tr>
      </table>
    </footer>
  </div>

  <script src="static/js/snap.svg.js"></script>

  <script type="text/javascript">
    // First lets create our drawing surface out of existing SVG element
    // If you want to create new surface just provide dimensions
    // like s = Snap(800, 600);
    // var s = Snap("#svg");
    var s = Snap("#svg");
    // var s = Snap();
    // Lets create big circle in the middle:
    var circleColorChange = s.circle(10, 10, 20);
    circleColorChange.attr({
      class: "colorchange"
    });

    var circleA = s.circle(150, 150, 100);
    // By default its black, lets change its attributes
    circleA.attr({
      fill: "#bada55",
      stroke: "#000",
      strokeWidth: 5,
      class: "draggable"
    });

    // Now lets create another small circle:
    var circleB = s.circle(100, 150, 70);
    // Lets put this small circle and another one into a group:
    var discs = s.group(circleB, s.circle(200, 150, 70));
    // Now we can change attributes for the whole group
    discs.attr({
      fill: "#fff"
    });

    var board = s.image("static/img/20030731_181107_dog_4.jpg");
    board.attr({
      x: 10,
      y: 300,
      class: "draggable"
    })

    // Despite our small circle now is a part of a group
    // and a part of a mask we could still access it:
    circleB.animate({ r: 50 }, 1000);
    // We don’t have reference for second small circle,
    // but we could easily grab it with CSS selectors:
    discs.select("circle:nth-child(2)").animate({ r: 50 }, 1000);

    // DogApp.moveCircle = function(dx, dy) {
    DogApp.moveCircle = function (transform) {
      // transform = circleA.transform().local + (circleA.transform().local ? "T" : "t") + [dx, dy]
      console.log("transform: " + transform)
      circleColorChange.attr({
        transform: transform
      });
      board.attr({
        transform: transform
      });
    }

    var move = function (dx, dy) {
      transform = this.data('origTransform') + (this.data('origTransform') ? "T" : "t") + [dx, dy]
      this.attr({
        transform: transform
      });
      // DogApp.socket.emit("move", {id: this.id, cx: this.node.getAttribute("cx"), dx: dx});
      DogApp.move_msg = { id: this.id, transform: transform }
      move_emit()
    }

    var move_emit = function () {
      elapsed_ms = Date.now() - DogApp.move_last_s
      if (elapsed_ms > DogApp.TIMEOUT_MS) {
        // DogApp.socket.emit("move", {id: this.id, dx: dx, dy: dy});
        DogApp.socket.emit("move", DogApp.move_msg);
        DogApp.move_last_s = Date.now()
        return
      }
      function delayedEmit() {
        console.log('delayedEmit');
        move_emit()
      }

      clearTimeout(DogApp.move_timer_id)
      DogApp.move_timer_id = setTimeout(delayedEmit, DogApp.TIMEOUT_MS + 100 - elapsed_ms);
    }

    var start = function () {
      this.data('origTransform', this.transform().local);
      DogApp.move_last_s = 0.0
    }
    var stop = function () {
      console.log('finished dragging');
    }
    circleA.drag(move, start, stop)
    board.drag()
  </script>

</body>

</html>