html {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

button {
  color: black;
  font-weight: bold;
}
button:disabled {
  color: gray;
  font-weight: unset;
}

    .main {
      display: flex;
      height: 100%;
      font-size: 2rem;
      /*justify-content: space-between;*/
      justify-content: space-around;
    }
    
    header, footer {
      width: 100%;
      background: coral;
      text-align: center;
      font-size: 0.5em;
    }
    
    .content {
      width: 100%;
      background: orange;
      padding: 1em;
    }
    
        .example {
      width: 100%;
      height: 100vh;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }