pre.code {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  height: 280px;
  overflow: auto;
  background: #181818;
  border: solid 2px #181818;
}

.marble_0 {
  cursor:  move;
  fill: #FF0000;
}

.marble_1 {
  cursor:  move;
  fill: #FFFF00
}

#svg g .colorchange {
  fill: #FF0000;
}

#codelines {
  display: none;
}

#svg {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: solid 2px #ccc;
  width: 98%;
  height: 95%;
  /*viewBox: "-100 -100 200 200"*/
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font: 1em source-sans-pro, Source Sans Pro, Helvetica, sans-serif;
}