html {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

button {
  color: black;
  font-weight: bold;
}

button:disabled {
  color: gray;
  font-weight: unset;
}

td p {
  margin: 0px;
}

p#card_in_center {
  margin: 0px;
}

p#messages {
  font-size: 1rem;
  text-align: left;
  /* https://wiki.selfhtml.org/wiki/CSS/Eigenschaften/Anzeige/text-overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
