html {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

button {
  color: black;
  font-weight: bold;
}

button:disabled {
  color: gray;
  font-weight: unset;
}

td p {
  margin: 0px;
}

p#card_in_center {
  margin: 0px;
}

p#messages {
  font-size: 1rem;
  text-align: left;
  /* https://wiki.selfhtml.org/wiki/CSS/Eigenschaften/Anzeige/text-overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.main {
  display: flex;
  height: 100%;
  font-size: 2rem;
  /*justify-content: space-between;*/
  justify-content: space-around;
}

.frame {
  width: 100%;
  height: 100vh;
  /*max-width: 1200px;*/
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: lightgrey;
}

header, footer {
  width: 100%;
  text-align: center;
  font-size: 2.0em;
}

.content {
  width: 100%;
  padding: 1em;
  background: lightslategrey;
}
