html {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

.body_top {
  height: 10vh; background-color:lightgray;
}

.body_middle {
  height: 65vh; background-color: lightgray;
}

.body_bottom {
  height: 25vh; background-color:lightgray;
}

button {
  color: black;
  font-weight: bold;
}

button:disabled {
  color: gray;
  font-weight: unset;
}

p {
  font-size: 2rem;
  text-align: center;
  margin-block-start: 6px;
  margin-block-end: 6px;
}

td {
  text-align: center;
}

div.body_bottom p {
  margin: 0px;
}

p#card_in_center {
  margin: 0px;
}

p#messages {
  /* https://wiki.selfhtml.org/wiki/CSS/Eigenschaften/Anzeige/text-overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
